<template>
  <v-main>
    <v-container>
      <v-row align="center" justify="center">
        <v-col cols="2">
          <v-img
            class="my-4"
            contain
            height="130"
            src="../assets/logo.svg"
            lazy-src="../assets/logo.svg"
          />
        </v-col>
      </v-row>
      <v-row align="center" justify="center">
        <v-col cols="7" class="d-flex justify-center">
          <ChartsCard />
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { Base } from "@/base";
import ChartsCard from "@/components/ChartsCard.vue";

@Component({
  components: { ChartsCard },
})
export default class Home extends Base {}
</script>
