<template>
  <v-card elevation="5" outlined>
    <v-expand-transition>
      <v-card
        v-if="!chartItemInfoState"
        class="transition-fast-in-fast-out v-card--showChartItemInfo"
      >
        <Charts />
      </v-card>
    </v-expand-transition>

    <v-expand-transition>
      <v-card
        v-if="chartItemInfoState"
        class="transition-fast-in-fast-out v-card--showChartItemInfo"
        style="height: 100%"
      >
        <v-card-title class="text-h4">{{ chartItemInfo.name }}</v-card-title>
        <v-card-text class="body-1 m-4">
          {{ summary }}
        </v-card-text>
        <v-card-actions class="d-flex justify-end">
          <v-btn color="accent" @click="closeInfo()"> Close </v-btn>
        </v-card-actions>
      </v-card>
    </v-expand-transition>
  </v-card>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { Base } from "@/base";
import Charts from "@/components/Charts.vue";

@Component({
  components: { Charts },
})
export default class ChartsCard extends Base {
  get chartItemInfoState(): boolean {
    return this.$store.getters.chartItemInfoStateGetter;
  }

  get chartItemInfo() {
    return this.$store.getters.itemInfoGetter;
  }

  get summary() {
    const text = this.chartItemInfo?.wiki
      ? this.chartItemInfo.wiki.summary
      : this.chartItemInfo.bio.summary;

    const clearedLink = text.substring(0, text.indexOf("<a href"));

    return clearedLink;
  }

  closeInfo(): void {
    console.log(this.chartItemInfo);
    this.$store.dispatch("setChartItemInfoState", false);
  }
}
</script>
