<template>
  <span>
    <v-list-item
      @click="itemClicked(contentItem)"
      v-for="contentItem in chartItems"
      :key="contentItem.name"
    >
      <v-row align="center" justify="center">
        <v-col cols="1" class="d-flex justify-center p-0">
          <v-icon color="accent" size="30">{{ chartGetter.icon }}</v-icon>
        </v-col>
        <v-col cols="3" class="d-flex justify-center">
          <v-list-item-content>
            <v-list-item-title v-text="contentItem.name"></v-list-item-title>
          </v-list-item-content>
        </v-col>
        <v-col cols="8" class="d-flex justify-center pl-2">
          <v-divider vertical class="mr-5" />
          <v-list-item-content>
            <v-list-item-title
              v-text="getItemText(contentItem)"
            ></v-list-item-title>
          </v-list-item-content>
        </v-col>
      </v-row>
    </v-list-item>
  </span>
</template>

<script lang="ts">
import { Base } from "@/base";
import { ChartItemGetterEnum, IChart, IChartItem } from "@/models";
import { Component } from "vue-property-decorator";

@Component({
  components: {},
})
export default class ChartContentItem extends Base {
  get chartGetter(): IChart {
    return this.$store.getters.chartGetter;
  }

  get chartItems(): string {
    const chartGetter = this.chartGetter.getter;
    return this.$store.getters[chartGetter];
  }

  selectChartItem(item: IChartItem) {
    this.$store.dispatch(item.endpoint, item);
  }

  showChartItemInfo() {
    this.$store.dispatch("setChartItemInfoState", true);
  }

  // needed to go with "any" type here, because type can be: IArtist | ITrack | ITag
  getItemText(item: any): string {
    return item.listeners
      ? `Listeners: ${item.listeners}`
      : `Taggings: ${item.taggings}`;
  }

  itemClicked(item: any): void {
    const determinedItem = this.determineItem(item);
    this.selectChartItem(determinedItem);
    this.showChartItemInfo();
  }

  // determing the handy chartItem object which will depending on selected chart type
  determineItem(item: any): IChartItem {
    let determinedItem = new IChartItem();
    const chart = this.chartGetter.name;
    if (chart === "tags") {
      determinedItem.params = { tag: item.name };
      determinedItem.getter = ChartItemGetterEnum.TagInfoGetter;
      determinedItem.group = "tag";
    } else if (chart === "tracks") {
      determinedItem.params = {};
      if (item.mbid) {
        determinedItem.params.mbid = item.mbid;
      } else {
        determinedItem.params.track = item.name;
        determinedItem.params.artist = item.artist.name;
      }
      determinedItem.getter = ChartItemGetterEnum.TrackInfoGetter;
      determinedItem.group = "track";
    } else {
      determinedItem.params = { mbid: item.mbid };
      determinedItem.getter = ChartItemGetterEnum.ArtistInfoGetter;
      determinedItem.group = "artist";
    }
    determinedItem.endpoint = "getItemInfo";
    return determinedItem;
  }
}
</script>
