<template>
  <span>
    <v-tabs center-active grow>
      <v-tab
        @change="tabChanged(chart)"
        v-model="chartGetter"
        v-for="chart in charts"
        :key="chart.id"
        dark
      >
        {{ chart.name }}
      </v-tab>
    </v-tabs>
    <v-tabs-items>
      <v-tab-item v-for="chart in charts" :key="chart.id"> </v-tab-item>
      <ChartsContent />
    </v-tabs-items>
  </span>
</template>

<script lang="ts">
import { Base } from "@/base";
import ChartsContent from "@/components/ChartContent.vue";
import { IChart } from "@/models";
import { Component } from "vue-property-decorator";

@Component({
  components: { ChartsContent },
})
export default class Charts extends Base {
  defaultChart = new IChart();

  mounted(): void {
    this.loadChartData(this.defaultChart);
  }

  get chartGetter(): IChart {
    return this.$store.getters.chartGetter;
  }

  get charts(): IChart[] {
    return this.$store.getters.chartsGetter;
  }

  tabChanged(chart: IChart): void {
    this.selectChart(chart);
    this.loadChartData(chart);
  }

  selectChart(chart: IChart): void {
    this.$store.dispatch("selectChart", chart);
  }

  loadChartData(chart: IChart): void {
    this.$store.dispatch(chart.endpoint);
  }
}
</script>

<style lang="scss" scoped>
charts-card {
  max-width: 100% !important;
  width: min-content;
  min-width: 280px !important;

  &__wrapper {
    position: relative;
  }
}

.v-tab {
  flex: 1 1 auto !important;
  padding: 0 5rem !important;
}
</style>
