<template>
  <span>
    <v-card flat>
      <v-list>
        <v-list-item-group color="accent">
          <ChartContentItem />
        </v-list-item-group>
      </v-list>
    </v-card>
  </span>
</template>

<script lang="ts">
import { Base } from "@/base";
import ChartContentItem from "@/components/ChartContentItem.vue";
import { Component } from "vue-property-decorator";

@Component({
  components: { ChartContentItem },
})
export default class ChartContent extends Base {}
</script>
