<template>
  <v-app>
    <v-app-bar app elevation="2">
      <router-link to="/">
        <v-img
          contain
          max-width="25"
          class="py-3"
          src="@/assets/logo.svg"
          lazy-src="@/assets/logo.svg"
        />
      </router-link>

      <v-divider vertical class="mx-5" />
      <v-app-bar-title>{{ appTitle }}</v-app-bar-title>
    </v-app-bar>
    <Home />
  </v-app>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import Home from "@/views/Home.vue";
import { Base } from "./base";

@Component({
  components: { Home },
})
export default class App extends Base {
  // initial data
  title = "MuseCharts";

  // computed
  get appTitle(): string {
    return this.title;
  }
}
</script>

<style lang="scss">
#app {
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .v-toolbar {
    height: 80px !important;
    &__content {
      height: inherit !important;
    }
    &__title.v-app-bar-title {
      font-size: 2rem;
      .v-app-bar-title__content {
        width: auto !important;
      }
    }
  }
}
</style>
